@use "@/common/styles/mixins" as mixins;
@use "@/common/styles/colors" as colors;

.description {
  padding: 20px 24px;
}

.text {
  color: colors.get-hex(grey-description);
  font-size: 22px;
  white-space: break-spaces;

  @include mixins.font-smooch-sans;

  @include mixins.media-mobile {
    font-size: 18px;
  }
}
