@use "@/common/styles/mixins" as mixins;

.wrap {
  display: flex;
  flex-direction: column;
  inset: 0;
  overflow: hidden;
  padding: 30px 40px;
  position: fixed;

  @include mixins.media-mobile {
    padding: 18px;
  }
}

.scene {
  inset: 0;
  overflow: auto;
  position: absolute;
}

.article {
  position: relative;
}
