@use "@/common/styles/colors" as colors;
@use "@/common/styles/mixins" as mixins;

.fieldset {
  background-color: colors.get-rgba(grey-light, 0.04);
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px 24px 20px;
}

.legend {
  color: colors.get-hex(grey-description);
  font-size: 16px;
  letter-spacing: 0.16em;
  margin-bottom: 4px;
  padding: 0;
  text-transform: uppercase;

  @include mixins.font-smooch-sans;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
