@use "@/common/styles/mixins" as mixins;
@use "@/common/styles/colors" as colors;

.wrap {
  align-items: center;
  display: flex;
  height: 100svh;
  justify-content: center;

  @include mixins.media-mobile {
    justify-content: flex-start;
    padding-left: 30px;
  }
}

.content {
  color: colors.get-hex(white);
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mixins.font-figtree;

  @include mixins.media-mobile {
    gap: 4px;
  }
}

.title {
  font-size: 120px;

  @include mixins.media-mobile {
    font-size: 60px;
  }
}

.description {
  font-size: 60px;

  @include mixins.media-mobile {
    font-size: 30px;
  }
}
