@use "@/common/styles/colors" as colors;

.control-panel {
  background-color: colors.get-rgba(grey-background, 0.2);
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding: 16px;
}
